<%
// config.jsonのnavを呼び出す
data = json['nav'];
%>
<header class="l-header">
	header
	<ul>
		<%
		// ナビメニュー
		data.forEach(function (nav) {
		%>
			<li>
				<a href="/<%= nav.link %>">
					<%= nav.title %>
				</a>
			</li>
		<% }) %>
	</ul>
</header>
