<%
// config.jsonのnavを呼び出す
data = json['nav'];
%>
<header class="l-header">
	header
	<ul>
		<%
		// ナビメニュー
		data.forEach(function (nav) {
		%>
			<a href="/<%= nav.link %>">
				<%= nav.title %>
			</a>
		<% }) %>
	</ul>
</header>
