<%-
include('../common/_head', {
page: json['contact'],
path:'..'
});
%>
<% include ../common/_header %>
<main class="">
	<article class="">
		<section>
			contact
		</section>
	</article>
</main>
<% include ../common/_footer %>
