.c-hamburger {
  $lineHeight: 3px;
  $lineWidth: 2rem;
  .line {
    display: block;
    height: $lineHeight;
    width: $lineWidth;
    background: $base-blue;
    transition: .2s;
    &:first-child, &:nth-child(2) {
      margin-bottom: 5px;
    }
  }
  &.active {
    .line {
      transition: .2s;
      &:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(45deg);
      }
    }
  }

  &__inner {
    height: 0;
    position: absolute;
    margin: 3rem 0 0 0;
    padding: 0;
    width: 100%;
    left: 0;
    overflow: hidden;
    transition: 1s;
    &.active {
      height: 100vh;
      @for $i from 1 through 10 {
        li:nth-child(#{$i}) {
          opacity: 1;
          transition-delay: .2s * $i;
        }
      }
    }
    li {
      opacity: 0;
      padding: 1rem 2rem;
      list-style: none;
      width: 100%;
      right: 0;
      background: $base-blue;
      border-top: 1px solid $base-blue;
      border-bottom: 1px solid $light-blue;
      box-shadow: 2px 2px 6px $shadow, -2px -2px 6px $shadow;
      transition: 1s;

      @include link_color($white) {
        text-decoration: none;
        display: block;
        width: 100%;
      }
      &:hover {
        background-color: $light-blue;
      }
    }
  }
}