<%-
include('common/_head', {
page: json['contact']
});
%>
<body>
<% include common/_header %>
<main class="">
    <article class="">
        <h1>contact</h1>
        <a href="/">index</a>
    </article>
</main>

<% include common/_footer %>
</body>
</html>
