<%-
include('common/_head', {
page: json['home'],
path:'.'
});
%>
<% include common/_header %>
<main class="p-index">
    <article class="p-index__wrap py-3">
        <section class="p-index__target container">
            <h2 class="mb-5">
                <img class="p-index__target-title" src="assets/img/sp/sp-subtitle.png" alt="対象">
            </h2>
            <div class="row">
                <div class="col-12 col-lg-4 mb-5">
                    <div class="p-index__target-card p-3">
                        <img class="no" src="assets/img/no/number-01.png" alt="01">
                        <h3 class="text-center font-weight-bold mb-3">従来の集合型より手間なく 出席率と効果を上げます</h3>
                        <p class="p-0 mb-5">
                            支店が全国にある企業様でも平等な研修が可能です。<br>
                            オンライン完結のため、新入社員や入社前の内定者研修への活用いただいています。
                        </p>
                    </div>
                    <img class="p-index__target-illust" src="assets/img/illust/01.png" alt="従来の集合型より手間なく 出席率と効果を上げます">
                </div>
                <div class="col-12 col-lg-4 mb-5">
                    <img class="p-index__target-illust no2 d-none d-lg-block" src="assets/img/illust/02.png" alt="自己啓発や福利厚生に！">
                    <div class="p-index__target-card p-3">
                        <img class="no" src="assets/img/no/number-02.png" alt="01">
                        <h3 class="text-center font-weight-bold mb-3">自己啓発や福利厚生に！</h3>
                        <p class="p-0 mb-5">
                            在宅ワークでできた時間をご自宅でできる研修時間にあてられたい従業員様にピッタリのプランをご用意しています。 <br>
                            法人プランを従業員様ご本人からの申し込み・決済で完結できる専用サイトも無料でご用意できます。
                        </p>
                    </div>
                    <img class="p-index__target-illust d-lg-none" src="assets/img/illust/02.png" alt="自己啓発や福利厚生に！">
                </div>
                <div class="col-12 col-lg-4">
                    <div class="p-index__target-card p-3">
                        <img class="no" src="assets/img/no/number-01.png" alt="03">
                        <h3 class="text-center font-weight-bold mb-3">エンジニアなどの専門職や役員向けに！</h3>
                        <p class="p-0 mb-5">
                            日常英会話から役員・営業・エンジニア向けまで幅広く対応可能です。マンツーマン、短期集中などの受講タイプの選択や企業様の指導内容に合わせたオリジナルテキストも作成が可能です。
                        </p>
                    </div>
                    <img class="p-index__target-illust" src="assets/img/illust/03.png" alt="エンジニアなどの 専門職や役員向けに！">
                </div>

            </div>
        </section>
        <section class="p-index__reason">
            <div class="container py-5">
                <h2 class="px-2 mb-5">
                    <img class="w-100 d-lg-none" src="assets/img/sp/sp-reasons.png" alt="産経オンライン英会話が選ばれる理由">
                    <img class="w-100 mx-auto d-none d-lg-block" src="assets/img/reason/subtitle-reasons.png" alt="産経オンライン英会話が選ばれる理由">
                </h2>

                <div class="row px-2">
                    <dl class="p-index__reason-card col-12 col-lg-4 position-relative bg-white">
                        <dt class="">
                            <div class="no"></div>
                            <div class="icon"></div>
                        </dt>

                        <dd>
                            <h3 class="font-weight-bold">1ヶ月10回4400円から</h3>
                            <p class="mb-0">
                                仕事をしながらオンライン英会話を受講すると月に10回～15回、3日に1回～2日に1回くらいがぴったりではないでしょうか。<br>
                                月の回数を抑えた分、費用もおさえられるプランが人気です。
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>


        </section>
    </article>
</main>
<% include common/_footer %>
