<%-
include('common/_head', {
page: json['home'],
path:'.'
});
%>
<% include common/_header %>
<main class="l-index">
	<article class="l-index-wrap">
		<section>
			<h1>index</h1>
		</section>
	</article>
</main>
<% include common/_footer %>
