<%-
include('common/_head', {
page: json['home']
});
%>
<% include common/_header %>
<main class="l-index">
    <article class="l-index-wrap">
        <section>
			<a href="/">index</a>
			<a href="/contact">contact</a>
		</section>
    </article>
</main>
<% include common/_footer %>
