<%-
include('common/_head', {
page: json['home']
});
%>
<body>
<main class="">
    <article class="">
        <h1>トーアス株式会社テストサイト</h1>
    </article>
</main>
<% include common/_footer %>
</body>
</html>