.l-index {
  @extend .container-fluid;
  &-wrap {
    @extend .row;
  }

  &-hero {
    @extend .row;
    @extend .m-0;
    @extend .p-0;
    position: relative;
    dt, dd {
      @extend .col-6;
      margin: 0;
      padding: 0;

    }
    dt {

    }
    dd {
      align-self: flex-end;
      position: initial;
      padding: 2rem 2rem 2rem 3rem;

      .js-index-hero-h2 {
        position: absolute;
        font-size: 3rem;
        margin: 0;
        left: 45.5%;
        bottom: 6%;
        color: $white;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        &-bg {
          position: absolute;
          bottom: -25px;
          margin: 0;
          background: $base-blue;
          left: 44%;
          width: 100px;
          height: 464px;
        }
      }
      .js-index-hero-bar {
        display: block;
        width: 100%;
        height: 5px;
        background: $base-blue;
        margin: 0 0 0 auto;
      }
      .js-index-hero-p {
        padding-top: 2rem;
        font-size: 1.2rem;
        line-height: 3rem;
        font-weight: 500;
      }
      .js-icon-scroll {
        position: absolute;
        right: 25%;
        bottom: 0;
        svg {
          height: 50px;
          circle {
            width: 10px;
            animation: bounce 2s ease-in-out alternate infinite;
          }
        }
      }
    }
  }
}
